!!!5
html
 head
  title= pagetitle
  include ../include/head 
  <body>
  .warp
    h1 express_spout框架使用帮助
    include ../include/nav 
    p.i_i <strong>资料整理中，敬请期待</strong>
    include ../include/foot
</body>