div.foot node.js-express_spout web框架<br/>2011 Copyright © spout<br/>Email:snoopyxdy@163.com; qq:53822985
script(type="text/javascript",src="/skin/js/jquery.1.6.2.js")
script(type="text/javascript",src="/skin/js/base.js")

